Prueba de Mensajes por LM Studio.json
{
  "name": "Prueba de Mensajes por LM Studio",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ¡ IMPORTANTE ! Esta variable cambia el manejo del flujo\nconst production = true; // Si estamos en producción permitir todo mensaje, si no, bloquear los numeros menos los que son admitidos\nconst numero_host = \"593988207600\"; // Cambiar con el numero que se está trabajando\nconst dominio_evolution = \"http://localhost:8080\" // Importante porque los nodos de evolution ocuparán este dominio dinamicamente\n// Lista de numeros permitidos para probar el flujo\nconst numeros_admitidos = [\"593997350897\", // # Prueba 1\n                           \"593980062977\", // # Prueba 2 \n                          \"593978640544\", // # Adrián\n                           \"593997129254\", // # M. Recalde\n                          \"593995817315\", // # M. Rocha\n                           \"593988207600\" // # Carlos \n                           ]\n\n// Diccionario de datos donde se guardara lo necesario\nvar datos = {\n  dominio_evolution : dominio_evolution\n}\n\n/**\n * Función que sirve como filtro para permitir el paso al flujo solo si cumple con \n * las condiciones específicadas dentro de la función\n * @param {String} numero Es el numero a comprobar\n * @param {boolean} evolutional Pregunta si la función es invocada desde el bloque de \n * evolutional api\n */\nfunction comprobar_whitelist(numero, evolutional){\n  // Limpiar el numero en caso de que venga de evolutional api\n  let numero_limpio = \"\"\n  if (evolutional)\n    numero_limpio = numero.split(\"@s.whatsapp.net\")[0]\n  else \n    numero_limpio = numero\n\n  console.log(numero_limpio)\n\n  // Verificar si el numero está dentro de la lista de permitidos\n  let esta_permitido = numeros_admitidos.includes(numero_limpio)\n\n  // Si se está verificando un mensaje del mismo numero parar el flujo\n  if (evolutional && $input.first().json.body.data.key.fromMe) return []\n  // Si no estamos en producción y es un contacto no permitido parar el flujo\n  else if (!esta_permitido && !production) return []\n  // Si estamos en producción permitir toda info\n  else if (production) return false \n    // Si esta permitido y no estamos en producción marcar como test\n  else if (esta_permitido && !production) return true\n}\n\n// Si es del mensaje por defecto de n8n, limpiar los datos necesarios\nif ($input.first().json.action){\n  datos.tipo_trigger = \"consola\"\n  datos.is_testing = true\n  datos.numero_cuenta = $input.first().json.sessionId\n  datos.mensajes_usuario = $input.first().json.chatInput\n  \n  if ($input.first().json.files) {\n    let archivos_adjuntos = []; \n    \n    for (let archivo of $input.first().json.files) {\n        if (archivo.mimeType && archivo.mimeType.includes(\"image\")) {\n            archivos_adjuntos.push(archivo);\n        }\n    }\n\n    // Si hay imagenes se adjuntan las imágenes.\n    if (Array.isArray(archivos_adjuntos) && archivos_adjuntos.length > 0) {\n      datos.imagenes_adjuntas = archivos_adjuntos;\n    }\n  }\n}\n// Pero si es de wp extraer al menos los datos de texto\nelse if ($input.first().json.body.data.messageType){\n  datos.tipo_trigger = \"evolution\"\n  \n  // Verificar si el numero está dentro de la lista de permitidos\n  datos.is_testing = comprobar_whitelist($input.first().json.body.data.key.remoteJid, true)\n  if (Array.isArray(datos.is_testing)) return []\n  \n  datos.instancia = $input.first().json.body.instance\n  datos.numero_cuenta = $input.first().json.body.data.key.remoteJid\n  datos.id_mensaje = $input.first().json.body.data.key.id\n  datos.nombre_contacto = $input.first().json.body.data.pushName\n  datos.mensaje_texto = $input.first().json.body.data.message.conversation\n  datos.tipo_mensaje = $input.first().json.body.data.messageType // cambiar a texto cuando se agregue el trigger de la api oficial\n\n  // Si el mensaje es tipo imagen, permitir el tipo y guardarlo en datos\n  if (datos.tipo_mensaje === \"imageMessage\") \n    datos.imagen = $input.first().json.body.data.message.imageMessage.mimetype; // cambiar a imagen cuando se agregue de la api oficial\n} // Si es de la api oficial los datos extraídos son:\nelse if ($input.first().json.messaging_product) {\n  datos.tipo_trigger = \"oficial\"\n  \n  // Verificar si el numero está dentro de la lista de permitidos\n  datos.is_testing = comprobar_whitelist($input.first().json.contacts[0].wa_id, false)\n  if (Array.isArray(datos.is_testing)) return []\n  \n  datos.numero_cuenta = $input.first().json.contacts[0].wa_id\n  datos.id_mensaje = $input.first().json.messages[0].id\n  datos.nombre_contacto = $input.first().json.contacts[0].profile.name\n\n  // Si el mensaje es de tipo texto poner el tipo\n  if ($input.first().json.messages[0].text) {\n    datos.mensaje_texto = $input.first().json.messages[0].text.body\n    datos.tipo_mensaje = \"texto\"\n  }\n}\n// Falta la función de limpieza para el trigger del api oficial\n\nreturn datos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -672
      ],
      "id": "f6a166d3-e853-4120-a633-19fb7da8c7c7",
      "name": "DataCleaning 1"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "images/jpeg, images/png"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -160,
        -480
      ],
      "id": "e6e6410f-2b72-4477-82f0-d21382007736",
      "name": "Mensaje Consola",
      "webhookId": "9257e4ab-a164-4fb9-a60f-c58b7bbff75b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3104,
        -480
      ],
      "id": "a1a37ce7-a48e-42d5-a236-2a3a775ce0ff",
      "name": "Finalizar Trigger Mensaje"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DataCleaning 1').item.json.dominio_evolution }}/chat/markMessageAsRead/{{ $('DataCleaning 1').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3776,
        -864
      ],
      "id": "306b9420-8bc5-4c9d-81a2-1ab01d9c46df",
      "name": "Marcar como leído",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1F1LLl7zF8DrCOs",
          "name": "EvolutionApi ApiKey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DataCleaning 1').item.json.dominio_evolution }}/chat/sendPresence/{{ $('DataCleaning 1').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"number\": \"{{ $('DataCleaning 1').item.json.numero_cuenta }}\",\n    \"delay\": {{ max(($('IA Contestadora').item.json.output.split(' ').length + ($('IA Contestadora').item.json.output.match(/[¿?¡!,]/g) || []).length)/1.25, 5) * 1000}},\n    \"presence\": \"composing\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4224,
        -864
      ],
      "id": "0248eb59-cd4b-4b8e-b822-657fc5656e78",
      "name": "Enviar estado \"escribiendo\"",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1F1LLl7zF8DrCOs",
          "name": "EvolutionApi ApiKey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DataCleaning 1').item.json.dominio_evolution }}/message/sendText/{{ $('DataCleaning 1').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('DataCleaning 1').item.json.numero_cuenta }}\",\n  \"text\": \"{{ JSON.stringify($('IA Contestadora').item.json.output).slice(1,-1)}}\",\n  \"delay\": 1200\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4448,
        -864
      ],
      "id": "ceb1f5b2-73a3-4cd4-84e1-96caab64ecdf",
      "name": "Enviar mensaje",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1F1LLl7zF8DrCOs",
          "name": "EvolutionApi ApiKey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DataCleaning 1').item.json.dominio_evolution }}/instance/setPresence/{{ $('DataCleaning 1').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"presence\": \"available\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3104,
        -864
      ],
      "id": "996d75d5-1cd1-40da-9505-927afa48625a",
      "name": "Enviar Estado Disponible",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1F1LLl7zF8DrCOs",
          "name": "EvolutionApi ApiKey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('DataCleaning 1').item.json.dominio_evolution }}/instance/setPresence/{{ $('DataCleaning 1').item.json.instancia }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"presence\": \"unavailable\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4672,
        -864
      ],
      "id": "ac6646a7-9808-4973-8c3a-33a58c167ffb",
      "name": "Enviar Estado No Disponible",
      "credentials": {
        "httpHeaderAuth": {
          "id": "q1F1LLl7zF8DrCOs",
          "name": "EvolutionApi ApiKey"
        }
      }
    },
    {
      "parameters": {
        "content": "Permite el inicio del flujo de wp por medio de Evolution API y la Api Oficial",
        "height": 112,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -352,
        -784
      ],
      "id": "6ece1d64-ef54-4a19-a688-d74db3aa6ae3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prueba",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -864
      ],
      "id": "75472f48-c5cf-4d60-b530-b18527863df4",
      "name": "Evolution API",
      "webhookId": "06639a56-5d7d-45fc-a9c4-09ff2539a3f5"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -672
      ],
      "id": "18a4f4ff-3d60-4deb-bb7a-e21104a3efed",
      "name": "WP API Oficial",
      "webhookId": "3a9967b8-955e-47d4-abf4-2d05af6cceed",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "Mlm6blBhyjipDLKu",
          "name": "WP API Receiver"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "Se limpia la data antes de procesar el mensaje",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -528
      ],
      "id": "1119fcba-cc3a-4f88-b7bc-6d1458e058d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "El mensaje es procesado por LM Studio con un modelo local",
        "height": 80,
        "width": 230
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2304,
        -304
      ],
      "id": "69c9f895-a38e-4650-88d8-0a08850f9d2c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Redirige la forma de respuesta acorde al API usada",
        "height": 96,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2832,
        -496
      ],
      "id": "ed804180-5d1c-44fb-a731-8660aaa11031",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e4738183-84e5-4804-b9c7-b30df8e36bab",
                    "leftValue": "={{ $('DataCleaning 1').item.json.tipo_trigger }}",
                    "rightValue": "evolution",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Evolution"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8229d7f5-e955-4f70-bf52-ac52d57ddbd7",
                    "leftValue": "={{ $('DataCleaning 1').item.json.tipo_trigger }}",
                    "rightValue": "oficial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Api Oficial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('DataCleaning 1').item.json.tipo_trigger }}",
                    "rightValue": "consola",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f3c95741-37a7-4fa2-bd71-0e78143dec16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Consola"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2880,
        -688
      ],
      "id": "e067d570-b8b4-4e95-baf9-60ac39c1d20e",
      "name": "Redirección Respuesta"
    },
    {
      "parameters": {
        "content": "El Do Nothing es solo visual",
        "height": 80,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3088,
        -304
      ],
      "id": "ca25cd15-da32-40bd-9342-52a92e8226d1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "send",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3104,
        -672
      ],
      "id": "0f61b87f-3114-478c-8b41-46a2891f3e84",
      "name": "Send message",
      "webhookId": "b6999954-fd1a-469d-87fc-e42cdcb86a7e",
      "credentials": {
        "whatsAppApi": {
          "id": "pV8OZI5A6zT7baVC",
          "name": "WP API Sender"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "Finalmente envia el mensaje y quita el estado de disponible para parecer que envío el mensaje y se desconectó",
        "height": 80,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4016,
        -976
      ],
      "id": "bbea7819-6cd4-4d97-918d-5eea9c44bdb6",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Marca como disponible y leído el mensaje. Usa Redis para poder marcar varios mensajes en una sola http request",
        "height": 80,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2880,
        -976
      ],
      "id": "f82f5df1-b6d2-40b4-b5f8-35d68300564b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Borra esos IDS de Redis. Luego envía el estado de \"escribiendo\". Luego empieza un retraso y hace parecer que está escribiendo para mantener la salud de la cuenta",
        "height": 80,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        -976
      ],
      "id": "4cab101f-b07a-426b-a763-c615f8653647",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "mistralai/ministral-3-3b",
          "mode": "list",
          "cachedResultName": "mistralai/ministral-3-3b"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3712,
        -112
      ],
      "id": "4fe5483d-d222-4a76-a233-3c8cbdea2ffa",
      "name": "Conexión a LM Studio",
      "credentials": {
        "openAiApi": {
          "id": "yCJgCviNLVnasVYy",
          "name": "LM Studio"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.numero_cuenta }}",
        "messageData": "={{ $json.mensaje_texto }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        -608
      ],
      "id": "3ad2bfbf-2d25-44dc-98bd-b94c5b251c1f",
      "name": "Guardar Mensajes",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $('DataCleaning 1').item.json.numero_cuenta }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1408,
        -608
      ],
      "id": "93013a83-d1e4-4e12-a914-fc48db4570a7",
      "name": "Conseguir Mensajes",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "70e0b897-d4e1-4a27-8d94-da46fd4ec4d1",
              "name": "mensajes_usuario",
              "value": "={{$json.perfil_usuario ? \"Perfil de Cliente: \" + $json.perfil_usuario: \"Nombre Usuario: \" + $('DataCleaning 1').item.json.nombre_contacto}}\nMensajes del Cliente: \n{{  $('¿Ya no hay mas mensajes?').item.json.mensajes.reverse().join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        -608
      ],
      "id": "a9b478e0-0b16-473f-ad69-eae4086b27b2",
      "name": "Concatenar Mensajes"
    },
    {
      "parameters": {
        "content": "Con Redis guardamos los mensajes, en caso de que sea el tipo de usuario que prefierem mandar mensajes por separado",
        "height": 80,
        "width": 822
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        -432
      ],
      "id": "80edbbd9-7a7e-42b3-ae53-2d709258cd65",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.numero_cuenta + \"_idmsj\" }}",
        "messageData": "={{ $json.id_mensaje }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        -528
      ],
      "id": "f3576f22-4765-4aea-967c-d9796a2dd772",
      "name": "Guardar IDs Mensajes",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3450a370-b9b2-474a-88f7-40ff5c9fa58b",
              "leftValue": "={{ $json.tipo_trigger }}",
              "rightValue": "evolution",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        512,
        -608
      ],
      "id": "0b6708f5-52fd-4d1f-b974-480f95944ba7",
      "name": "¿Guardar ID Mensajes?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e00c265e-d235-411c-b46b-a507bb704338",
              "leftValue": "={{ $json.tipo_trigger }}",
              "rightValue": "consola",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        -672
      ],
      "id": "2c5d91ed-ed26-407e-b3e2-36b90741fa08",
      "name": "¿Mensaje tipo consola?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7d075c2e-edb0-4894-a62b-390d8e5c3f2e",
              "leftValue": "={{ $('Guardar Mensajes').item.json.mensaje_texto }}",
              "rightValue": "={{ $json.mensajes.first() }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1632,
        -608
      ],
      "id": "76075fca-939e-4d1c-ad5a-20f315d23ceb",
      "name": "¿Ya no hay mas mensajes?"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "IDMensaje",
        "key": "={{ $('DataCleaning 1').item.json.numero_cuenta + \"_idmsj\" }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3328,
        -864
      ],
      "id": "d84edfd1-f1c0-446c-b8b9-642bd97f68cb",
      "name": "Conseguir ID Mensaje",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var mensajes = {\n  \"readMessages\" : []\n}\n\nconst id_mensajes = $input.first().json.IDMensaje.reverse()\n\nconst remoteJid = $('DataCleaning 1').first().json.numero_cuenta;\n\nfor (const id_mensaje of id_mensajes) {\n  mensajes.readMessages.push({\n      \"remoteJid\": remoteJid,\n      \"fromMe\": false,\n      \"id\": id_mensaje\n  });\n}\n\nreturn [ { json : mensajes } ]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        -864
      ],
      "id": "b4eb0d89-76a4-4515-a7cb-3b9249715a54",
      "name": "Estructurar Body Request"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DataCleaning 1').item.json.numero_cuenta + \"_idmsj\"}}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4000,
        -864
      ],
      "id": "8e7f1a5e-b24c-4a4b-9652-cb525e7da879",
      "name": "Borrar IDs Mensajes",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4672,
        -480
      ],
      "id": "4ca58ca2-4f2a-4441-aed2-9d430f6eb12f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3328,
        -480
      ],
      "id": "7402af1c-78ed-48af-b1dc-3f01980f1258",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3552,
        -480
      ],
      "id": "a4e35f7f-415f-4c49-b581-aa1438d2bf4d",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3776,
        -480
      ],
      "id": "3ddb4e00-f6c5-4377-b166-0692f28a8ae6",
      "name": "No Operation, do nothing4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4000,
        -480
      ],
      "id": "186d2ac8-1e83-4e7c-8f67-be8056cb18d5",
      "name": "No Operation, do nothing5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4224,
        -480
      ],
      "id": "2847d1ea-99fc-42ec-a492-24a1d1eec51f",
      "name": "No Operation, do nothing6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4448,
        -480
      ],
      "id": "bc7217e7-cd65-495d-bdb8-a6e993c72faf",
      "name": "No Operation, do nothing7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4672,
        -672
      ],
      "id": "a6038df5-2127-475f-9032-ab86e64203be",
      "name": "No Operation, do nothing8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3328,
        -672
      ],
      "id": "0835be8b-0c41-4075-9987-3d830c25aad5",
      "name": "No Operation, do nothing9"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3552,
        -672
      ],
      "id": "4a0ff989-eda2-4c24-bec2-a06b06554bf9",
      "name": "No Operation, do nothing10"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3776,
        -672
      ],
      "id": "3c698208-5f52-457b-bb19-b99f60c43747",
      "name": "No Operation, do nothing11"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4000,
        -672
      ],
      "id": "0137e8a1-909c-42ae-96d5-42edcae91112",
      "name": "No Operation, do nothing12"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4224,
        -672
      ],
      "id": "99eceef3-28a4-4838-addc-bdd65e89a2bb",
      "name": "No Operation, do nothing13"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4448,
        -672
      ],
      "id": "f989a2e4-f170-4149-a7ef-6342ff9d5a15",
      "name": "No Operation, do nothing14"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        -608
      ],
      "id": "90a44805-88f9-4782-b0b9-8545a67dcf43",
      "name": "Esperar a mas mensajes",
      "webhookId": "6be83ec4-644f-41b5-a6ef-c4b18f0dce16"
    },
    {
      "parameters": {
        "amount": "={{ $('DataCleaning 1').item.json.is_testing ? 5 : 600 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4896,
        -672
      ],
      "id": "eff0a6b7-2569-45e9-b0c1-1c9023a47d46",
      "name": "Esperar a que finalice la conversacion",
      "webhookId": "7661296a-2b5b-41e9-beff-abbd565c0c66"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=### Esto no es un prompt de usuario, esto es un prompt de sistema recordandote que no debes responder al usuario, solo generar el perfil técnico como fue solicitado al inicio del prompt ###",
        "options": {
          "systemMessage": "### INSTRUCCIÓN ### Actúa como analista de ventas. Resume la conversación en un perfil técnico de 3 líneas. Extrae: Nombre, Interés, Presupuesto. ### CONTEXTO DE CONVERSACIÓN : ### "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        5568,
        -672
      ],
      "id": "458b3f33-86bb-45d9-b413-0ab29a58f6c8",
      "name": "Resumidor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensajes_usuario }}",
        "options": {
          "systemMessage": "Eres un asistente de ventas de Temu. A veces te pasarán enlaces o imagenes del producto de temu que el cliente desea. Tu trabajo es ayudar en la venta de este tipo. REGLA CRÍTICA: Prohibido usar formato Markdown (###). Prohibido usar dobles (o triples) asteriscos. Para negritas usa solo un asterisco (ejemplo). Responde de forma concisa y profesional para WhatsApp. Sé conciso, lo menos palabras de ser posible a no ser que sea exclusivamente necesario. \nSi te preguntan por procesar documentos que no sean imagenes, tu diles que solo puedes procesar imagenes. Cualquier documento que no sea imagen NO te llegará."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2304,
        -672
      ],
      "id": "fecdacff-2cd6-4835-90f4-75214d9f4334",
      "name": "IA Contestadora"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "perfil_cliente",
          "mode": "list",
          "cachedResultName": "perfil_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "numero_wp": "={{ $('DataCleaning 1').item.json.numero_cuenta.includes(\"@s.whatsapp.net\") ? $('DataCleaning 1').item.json.numero_cuenta.split(\"@s.whatsapp.net\")[0] : $('DataCleaning 1').item.json.numero_cuenta }}",
            "fecha_actualizacion": "={{ $now }}",
            "perfil_usuario": "={{ $('Resumidor').item.json.output }}"
          },
          "matchingColumns": [
            "numero_wp"
          ],
          "schema": [
            {
              "id": "numero_wp",
              "displayName": "numero_wp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "perfil_usuario",
              "displayName": "perfil_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_actualizacion",
              "displayName": "fecha_actualizacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6144,
        -672
      ],
      "id": "9f183a0e-ea9b-46cd-bf75-e8972718ccdc",
      "name": "Guardar Perfil en Memoria",
      "credentials": {
        "postgres": {
          "id": "h77TWQT0KvPuJ61k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "perfil_cliente",
          "mode": "list",
          "cachedResultName": "perfil_cliente"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero_wp",
              "value": "={{ $('DataCleaning 1').item.json.numero_cuenta.includes(\"@s.whatsapp.net\") ? $('DataCleaning 1').item.json.numero_cuenta.split(\"@s.whatsapp.net\")[0] : $('DataCleaning 1').item.json.numero_cuenta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1856,
        -608
      ],
      "id": "82eff7ab-ce59-4e7b-8bf7-cbfadefd4afc",
      "name": "Buscar Perfil de Cliente",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "h77TWQT0KvPuJ61k",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e765dfec-58f3-4743-979e-0e6c41fb1acb",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5920,
        -672
      ],
      "id": "e26adc4f-9587-4ed3-b8d3-050e281c003f",
      "name": "Comprobar Resumen"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "mensajes",
        "key": "={{ $('DataCleaning 1').item.json.numero_cuenta + \"_idmsj\" }}",
        "keyType": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        5120,
        -672
      ],
      "id": "7ad02815-2588-4482-a7ce-30fba04680b2",
      "name": "¿Nuevos Mensajes?",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b6f957f4-6227-41be-b616-e477cff84049",
              "leftValue": "={{ $json.mensajes }}",
              "rightValue": "=0",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5344,
        -672
      ],
      "id": "e20a6610-c6ef-456f-b246-838700e23c70",
      "name": "Fin Conversacion"
    },
    {
      "parameters": {
        "content": "Si hay perfil de cliente, buscarlo y concaternarlo con los mensajes",
        "height": 80,
        "width": 406
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        -432
      ],
      "id": "722a0c63-d2e5-4843-8bba-7277bcc3dc98",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Espera a que ya no haya mensajes",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4848,
        -784
      ],
      "id": "d2b9a3a0-ce6e-4f55-89b7-acf15d710d7e",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('DataCleaning 1').item.json.numero_cuenta + \"_ia\" }}",
        "sessionTTL": "={{ $('DataCleaning 1').item.json.is_testing ? 300 : 3600 }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        3840,
        -112
      ],
      "id": "58089dca-1a86-4403-af57-f4cf2c9e95c3",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Si ya no hay mensajes, se ha determinado que ya acabó la conversación",
        "height": 80,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5104,
        -784
      ],
      "id": "97d4f24b-0a6b-42a5-b602-3fcf6f392d4f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "Se resume la conversación y se guarda en postgres",
        "height": 80,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5552,
        -800
      ],
      "id": "8bb324a1-69b7-4a4f-8430-fc690c6e4f05",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('DataCleaning 1').item.json.numero_cuenta }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2656,
        -672
      ],
      "id": "481e3c1f-8d00-494e-a634-e39c489d1db5",
      "name": "Borrar Mensajes Iteración",
      "credentials": {
        "redis": {
          "id": "yD0K1YyhMbPXBziG",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "content": "Borra los ultimos mensajes de la iteración",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        -496
      ],
      "id": "9f039be8-29ce-4184-be58-6b62753508cc",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "Si los mensajes viene de evolution API, guardar el ID para marcarlos como visto más adelante",
        "height": 128,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        704,
        -368
      ],
      "id": "b064e42a-4ecc-4be9-b1a2-15c6677f68c5",
      "name": "Sticky Note15"
    }
  ],
  "pinData": {
    "WP API Oficial": [
      {
        "json": {
          "messaging_product": "whatsapp",
          "metadata": {
            "display_phone_number": "15551471724",
            "phone_number_id": "925355883990190"
          },
          "contacts": [
            {
              "profile": {
                "name": "Teo!"
              },
              "wa_id": "593997129254"
            }
          ],
          "messages": [
            {
              "from": "593997129254",
              "id": "wamid.HBgMNTkzOTk3MTI5MjU0FQIAEhggQUNBN0NFREJERDQzNzBDRjBCODkyN0FCQUU3QTdFOUQA",
              "timestamp": "1766063019",
              "text": {
                "body": "Hola"
              },
              "type": "text"
            }
          ],
          "field": "messages"
        }
      }
    ]
  },
  "connections": {
    "DataCleaning 1": {
      "main": [
        [
          {
            "node": "¿Mensaje tipo consola?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Consola": {
      "main": [
        [
          {
            "node": "DataCleaning 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como leído": {
      "main": [
        [
          {
            "node": "Borrar IDs Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar estado \"escribiendo\"": {
      "main": [
        [
          {
            "node": "Enviar mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Estado Disponible": {
      "main": [
        [
          {
            "node": "Conseguir ID Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar mensaje": {
      "main": [
        [
          {
            "node": "Enviar Estado No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "DataCleaning 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WP API Oficial": {
      "main": [
        [
          {
            "node": "DataCleaning 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirección Respuesta": {
      "main": [
        [
          {
            "node": "Enviar Estado Disponible",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalizar Trigger Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conexión a LM Studio": {
      "ai_languageModel": [
        [
          {
            "node": "IA Contestadora",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Resumidor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensajes": {
      "main": [
        [
          {
            "node": "Esperar a mas mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conseguir Mensajes": {
      "main": [
        [
          {
            "node": "¿Ya no hay mas mensajes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concatenar Mensajes": {
      "main": [
        [
          {
            "node": "IA Contestadora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar IDs Mensajes": {
      "main": [
        [
          {
            "node": "Guardar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "No Operation, do nothing9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Estado No Disponible": {
      "main": [
        [
          {
            "node": "Esperar a que finalice la conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Guardar ID Mensajes?": {
      "main": [
        [
          {
            "node": "Guardar IDs Mensajes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Mensaje tipo consola?": {
      "main": [
        [
          {
            "node": "IA Contestadora",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Guardar ID Mensajes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Ya no hay mas mensajes?": {
      "main": [
        [
          {
            "node": "Buscar Perfil de Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conseguir ID Mensaje": {
      "main": [
        [
          {
            "node": "Estructurar Body Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Body Request": {
      "main": [
        [
          {
            "node": "Marcar como leído",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar IDs Mensajes": {
      "main": [
        [
          {
            "node": "Enviar estado \"escribiendo\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalizar Trigger Mensaje": {
      "main": [
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing1": {
      "main": [
        [
          {
            "node": "Esperar a que finalice la conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing4": {
      "main": [
        [
          {
            "node": "No Operation, do nothing5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing5": {
      "main": [
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing6": {
      "main": [
        [
          {
            "node": "No Operation, do nothing7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing7": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing9": {
      "main": [
        [
          {
            "node": "No Operation, do nothing10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing10": {
      "main": [
        [
          {
            "node": "No Operation, do nothing11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing11": {
      "main": [
        [
          {
            "node": "No Operation, do nothing12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing12": {
      "main": [
        [
          {
            "node": "No Operation, do nothing13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing13": {
      "main": [
        [
          {
            "node": "No Operation, do nothing14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing14": {
      "main": [
        [
          {
            "node": "No Operation, do nothing8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing8": {
      "main": [
        [
          {
            "node": "Esperar a que finalice la conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a mas mensajes": {
      "main": [
        [
          {
            "node": "Conseguir Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar a que finalice la conversacion": {
      "main": [
        [
          {
            "node": "¿Nuevos Mensajes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Contestadora": {
      "main": [
        [
          {
            "node": "Borrar Mensajes Iteración",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumidor": {
      "main": [
        [
          {
            "node": "Comprobar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Perfil de Cliente": {
      "main": [
        [
          {
            "node": "Concatenar Mensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar Resumen": {
      "main": [
        [
          {
            "node": "Guardar Perfil en Memoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resumidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Nuevos Mensajes?": {
      "main": [
        [
          {
            "node": "Fin Conversacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fin Conversacion": {
      "main": [
        [
          {
            "node": "Resumidor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "IA Contestadora",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Resumidor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Perfil en Memoria": {
      "main": [
        []
      ]
    },
    "Borrar Mensajes Iteración": {
      "main": [
        [
          {
            "node": "Redirección Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c2ccbc54-07e7-4f2f-85b6-c496149945dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e64d424fa834962a8cfa47f64fd408468bc49b43388ae2201059bf9f952a26dd"
  },
  "id": "lE6VEWYJ9yUcExHt",
  "tags": []
}